<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>12-闭包的返回值和参数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04C966B71CC76BE800CF4881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C966CB1CC76BE800CF4881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C966D61CC76BE800CF4881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
